<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>

<div class="container mt-5">
  <div class="card" style="background-color: #333; border: 2px solid #546223; border-radius: 15px; box-shadow: 0px 0px 15px #546223;">
    <div class="card-header" style="background-color: black; color: #fff; border-radius: 10px 10px 0px 0px;">
      <h1 class="animate__animated animate__headShake" style="font-size: 24px; padding: 15px;">Medicos</h1>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellidos</th>
            <th>usuario</th>
            <th>password</th>
            <th>foto</th>
            <th>Editar/Borrar</th>
          </tr>
        </thead>
        <tbody>
          
            <% 
            
            medicos.forEach((medico) =>{ 
              
              
              %>
              <tr>
                <td><%= medico.id %></td>
                <td><%= medico.nombre %></td>
                <td><%= medico.apellidos %></td>
                <td><%= medico.usuario %></td>
                <td>*****</td>
                <td><img src="/images/<%= medico.foto %>" width="100px" alt=""></td>
                <td>
                  <a href="/editarMedico/<%= medico.id %>">Editar</a>
                  <a href="/borrarMedico/<%= medico.id %>">Borrar</a>
                </td>
              </tr>
            <% 
          
            }); 
            
            %>
          
        </tbody>
      </table>
    </div>
    <div class="card-footer" style="background-color: black; border-radius: 0px 0px 10px 10px;">
    </div>
  </div>
</div>
<div style="margin-top: 300px;"></div>
  
<%- include ("../templates/pie")%>

