<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>

<div class="container" style="padding-top: 20px;">
  <div>
    <div class="card-header animate__animated animate__pulse" style="background-image: linear-gradient(#1D21AA, #1D21AA); color: #ffffff;">
      <h1 style="font-size: 20px; text-align: center; margin-top: 10px;">BIENVENIDO DOCTOR</h1>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6">
          <img src="/images/<%= medico.foto %>" class="img-fluid" alt="Foto del medico" style="max-width: 300px; height: auto;">
          
          <div class="col-md-6">  
            <a href="/editarMedico/<%= medico.id %>" class="btn animate__animated animate__rotateIn" style="font-size: 12px; color: #000000; background-color: white; font-weight: bold; border-radius: 5px; padding: 10px;  width: 300px; text-align: center; display: inline-block;">Editar Información</a>

          <p style="font-size: 15px; margin-top: 20px;"><strong style="font-size: 14px;">Nombre(s)</strong> <%= medico.nombre %></p>
          <p style="font-size: 15px;"><strong style="font-size: 14px;">Apellidos:</strong> <%= medico.apellidos %></p>
        </div>
        <div class="col-md-6">


      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <a href="/logoutMed" class="btn animate__animated animate__fadeInDown" style="color: #ffffff; font-size: 14px; font-weight: bold; background-color: #1D21AA; margin-top: 5px; width: 300px;">Cerrar Sesión</a>
          <a  href="/borrarMedico/<%= medico.id %>"  class="btn animate__animated animate__fadeInDown" style="color: #ffffff; font-size: 14px; font-weight: bold; background-color: red;margin-top: 15px; width: 300px;">Borrar Cuenta</a>
        </div>
        <div class="col-md-6">
          
          

        </div>
      </div>
    </div>
  </div>
</div>
<div class="color-bar" style="height: 80px; margin-top: 100px;">
</div>



<%- include ("../templates/pie")%>
