<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>

<div class="container mt-5">
  <div class="card"></div>
    <div class="card-header">
      <h1>pacientes</h1>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellidos</th>
            <th>usuario</th>
            <th>password</th>
            <th>foto</th>
            <th>Editar/Borrar</th>
          </tr>
        </thead>
        <tbody>
            <% pacientes.forEach((paciente) => { %>
              <tr>
                <td><%= paciente.id %></td>
                <td><%= paciente.nombre %></td>
                <td><%= paciente.apellidos %></td>
                <td><%= paciente.usuario %></td>
                <td>*****</td>
                <td><img src="/images/<%= paciente.foto %>" width="100px" alt=""></td>
                <td>
                  <a href="/editarPaciente/<%= paciente.id %>">Editar</a>
                  <a href="/borrarPaciente/<%= paciente.id %>">Borrar</a>
                </td>
              </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
    </div>
    <div class="color-bar" style="background-image: linear-gradient(#E2F0D9, #E2F0D9); height: 110px;">
      <p class="text-center" style="font-size: 16px; padding-top: 45px; padding-right: 1150px;"><a href="/" style="color: #546223;">Políticas de Privacidad</a></p>
    </div>
  
  <%- include ("../templates/pie")%>
    

