<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>

<div class="container" style="padding-top: 20px;">
  <div>
    <div class="card-header animate__animated animate__pulse" style="background-image: linear-gradient(#1D21AA, #1D21AA); color: #ffffff;">
      <h1 style="font-size: 20px; text-align: center; margin-top: 10px;" >BIENVENIDO</h1>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6">
          <img src="/images/<%= paciente.foto %>" class="img-fluid" alt="Foto del paciente" style="max-width: 300px; height: auto;">
          
          <div class="col-md-6">  
          <a href="/editarPaciente/<%= paciente.id %>"  class="btn animate__animated animate__rotateIn" style="font-size: 12px; color: #000000; background-color: white;  font-weight: bold; border-radius: 5px; padding: 10px;  width: 300px; text-align: center; display: inline-block;">Editar Información</a></div>

          <p style="font-size: 15px; margin-top: 20px;"><strong style="font-size: 15px;">Nombre(s):</strong> <%= paciente.nombre %></p>
          <p style="font-size: 15px;"><strong style="font-size: 15px;">Apellidos:</strong> <%= paciente.apellidos %></p>
        </div>
        <div class="col-md-6" style="background-color: #ffffff4f; max-width: 557px;">
          <h1 style="font-size: 15px; text-align: center; margin-top: 10px; color: #000000; font-weight: bold">Agenda / Citas</h1>
          <div class="card-body">
            <form method="post" action="/nuevacita">
              <input class="form-control mb-3" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
              <input class="form-control mb-3" type="text" name="apellidos" id="apellidos" placeholder="Apellidos">
              <input class="form-control mb-3" type="number" name="edad" id="edad" placeholder="Edad" autofocus>
              <input class="form-control mb-3" type="date" name="fecha" id="fecha" placeholder="Fecha">
              <p style="font-size: 12px; font-weight: bold;">Horas disponibles:</p><select class="form-control mb-3" name="hora" id="hora" placeholder="hora">
                <option value="09:00">9:00</option>
                <option value="09:30">9:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">01:00</option>
                <option value="13:30">01:30</option>
                <option value="14:00">02:00</option>
                <option value="14:30">02:30</option>
                <option value="15:00">03:00</option>
            </select>
              <button class="animate__animated animate__fadeInDown" type="submit" style="color: #ffffff;  text-decoration: none; display: block; border: none; border-radius: 30px; padding: 10px; width: 100%;   background-color: #1d22aabd; font-weight: bold;">Agendar</button>
          </form>
            <a href="https://ClinicCal.as.me/" target="_blank" class="btn btn-info mb-3" style="margin-top: 10px; color: #ffffff;">Agenda Directa</a>
        </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
          <a href="/logout" class="btn animate__animated animate__fadeInDown" style="color: #ffffff; font-size: 14px; font-weight: bold; background-color: #1D21AA; margin-top: -30px; width: 300px;">Cerrar Sesión</a>
          <a href="#" onclick="confirmarBorrado('<%= paciente.id %>')" class="btn animate__animated animate__fadeInDown" style="color: #ffffff; font-size: 14px; font-weight: bold; background-color: red; margin-top: 10px; width: 300px;">Borrar cuenta</a>

        </div>
        <div class="col-md-6"> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="color-bar" style="height: 80px; margin-top: 100px;">
</div>

<script>
  function confirmarBorrado(pacienteId) {
      var confirmacion = confirm("¿Estás seguro de que deseas borrar tu cuenta? Esta acción no se puede deshacer.");
  
      if (confirmacion) {
         
          window.location.href = "/borrarPaciente/" + pacienteId;
      } else {
        
      }
  }
  </script>


<%- include ("../templates/pie")%>

