<%- include ("../templates/encabezado")%>
<%- include ("../templates/menu")%>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1>Perfil</h1>
    </div>
    <div class="card-body">
      <div>
       
        <p>Nombre: <%= paciente.nombre %></p>
        <p>Apellidos: <%= paciente.apellidos %></p>
      
        <p>Foto: <img src="/images/<%= paciente.foto %>" width="100px" alt=""></p>
      </div>
      <div>
        <a href="/editarPaciente">Editar Perfil</a>
        <a href="/borrarPaciente">Borrar Cuenta</a>
      </div>
    </div>
  </div>
</div>

<%- include ("../templates/pie")%>
